@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

$bg-color: #333;
$text-color: #fff;
$font-family: "Montserrat", sans-serif;
$header-bg: #222;
$main-bg: #2d3250;
$input-bg: #222;
$form-bg: #424769;
$button-bg: #f9b17a;
$hover-transform: scale(1.05);
$margin-spacing: 50px;

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $font-family;
    font-weight: 300;
}

.header {
    background-color: $header-bg;
    padding: 25px 100px;
    font-weight: 600;
}

main {
    margin: $margin-spacing 100px;
    width: 50%;
    float: left;

    .user {
        margin-bottom: $margin-spacing;
        background-color: $main-bg;
        padding: 20px;
        
        .form {
            margin-top: 20px;

            input,
            textarea,
            button {
                background: $form-bg;
            }

            button {
                background: $button-bg;
                width: 90%;
                margin-left: 40px;

                &:hover {
                    transform: $hover-transform;
                }
            }
        }
    }

    .delete-icon,
    .edit-icon {
        float: right;
        color: $text-color;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }

    .edit-icon {
        margin-right: 25px;
        transform: scale(1);
    }
}

aside {
    width: 20%;
    margin-top: $margin-spacing;
    margin-left: 5%;
    float: left;
}

form {
    input:not([type="checkbox"]),
    textarea,
    button {
        width: 100%;
        height: 30px;
        font-family: $font-family;
        font-weight: 300;
        margin-bottom: 10px;
        border: 0;
        background: $input-bg;
        color: $text-color;
        outline: none;
        font-size: 15px;
    }

    input[type="checkbox"] {
        margin: 10px;
    }

    button {
        width: 100%;
        height: 50px;
        cursor: pointer;
        transition: transform 500ms ease;

        &:hover {
            transform: $hover-transform;
        }
    }
}
